html,
body {
    height: 100vh;
    /* Ensure the body and html take up the full viewport height */
    width: 100%;
    /* Ensure the body and html take up the full viewport width */
    margin: 0;
    padding: 0;
}